.Post {
  position: relative;
  border: 1px solid #e50914;
  padding: 16px;
  margin-bottom: 8px;
  background-color: black;
}

.post-controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}
.Post button{
  color: #e50914;
}